---
import { RouteGuard } from "../components/routeguard"
import TableModal from "../components/table/TableModal"
import Layout from "../layouts/Layout.astro"
---

<Layout title="History">
	<RouteGuard client:only="react">
		<div class="flex">
			<TableModal caseType={"history"} client:load />
		</div>
	</RouteGuard>
</Layout>
