---
import { getFlights } from "../../../lib/actions/flights/actions"
import { RouteGuard } from "../../components/routeguard"
import { VerticalStepper } from "../../components/stepper/VerticalStepper"
import type { Flight } from "../../components/table/TableModal"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
	const flightsRequested = await getFlights()
	return flightsRequested.map((flight: Flight) => ({
		params: { trip: flight.id },
	}))
}
---

<Layout title="Trip">
	<RouteGuard client:load="react">
		<div class="flex">
			<VerticalStepper client:load />
		</div>
	</RouteGuard>
</Layout>
