.calendar-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 600px;
  margin: 0 auto;
}

.fc {
  font-size: 1.2em;
  height: 100%;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 100%; /* Ajusta la altura según sea necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  position: absolute; /* Posiciona el contenedor de forma absoluta */
  top: 0;
  left: 0;
  z-index: 9999; /* Asegúrate de que el loader esté por encima de otros elementos */
}
