---
import Layout from "../layouts/Layout.astro"
import TableModal from "../components/table/TableModal"
import { RouteGuard } from "../components/routeguard"
---

<Layout title="Airships">
	<RouteGuard client:load="react">
		<div class="flex flex-col space-y-4">
			<div>
				<TableModal caseType="airship" client:load />
			</div>
		</div>
	</RouteGuard>
</Layout>
