---
import { RouteGuard } from "../components/routeguard"
import TableModal from "../components/table/TableModal"
import Layout from "../layouts/Layout.astro"
import Clima from "../components/Clima"


---


<Layout title="Calendar">
	<RouteGuard client:only="react">
		<div class="flex">
			<Clima client:load />
		</div>
	</RouteGuard>
</Layout>

