---
import Layout from "../layouts/Layout.astro";
import CalendarComponent from '../components/Calendar/calendar.jsx';
---

<Layout title="Tango Jets">
  <div style="padding: 0; margin: 20px 0 0 0; display: flex; justify-content: flex-start; align-items: flex-start; height: 100%; width: 100%;">
    <CalendarComponent client:load />
  </div>
</Layout>