<!-- ---
import Layout from "../layouts/Layout.astro";
import ClimaComponent from "../components/Clima"
---

<Layout title="Tango Jets">
  <div class="flex">
	<ClimaComponent client:load/>
	  </div>
</Layout> -->
