---
import { RouteGuard } from "../components/routeguard"
import { WelcomeText } from "../components/text/WelcomeText"
import Layout from "../layouts/Layout.astro"
import { Datitos } from "../components/cargadorDeTablas/Datitos"
---

<Layout title="Welcome to Tango Jets.">
    <RouteGuard client:load="react">
        <div class="min-h-screen flex flex-col items-center justify-start">
            <div>
                <WelcomeText client:load />
            </div>
                <Datitos client:load />
        </div>
    </RouteGuard>
</Layout>