---
import { getFlightById } from "../../lib/actions/flights/actions"
import { MapCard } from "../components/cards/MapCard"
import { PickAirship } from "../components/cards/PickAirship"
import TopQuoteCard from "../components/cards/TopQuoteCard.astro"
import ClientLayout from "../layouts/ClientLayout.astro"
const ClientFlight = await getFlightById(34)
const { launchtime, to, from, price_revenue } = ClientFlight
---

<ClientLayout title="Invoice"
	><div
		class="w-full h-[10%] flex items-center p-4 border-2 rounded border-solid bg-[#EFFFE3] border-[#d6e9c6]"
	>
		<p>
			Please review the airship options and launch time for accuracy and
			contact us with any changes. If the airship and launch time are
			correct, click the 'Confirm' button to start the booking process.
			Once we have confirmed availability for the airship, we will send
			you a link to complete the booking process.
		</p>
	</div>

	<TopQuoteCard
		launchtime={launchtime}
		to={to}
		from={from}
		price_revenue={price_revenue}
	/>

	<div class="w-full flex justify-around h-[50%] py-4 gap-8">
		<PickAirship />
		<MapCard />
	</div></ClientLayout
>
