---
import ClientLayout from "../layouts/ClientLayout.astro"
---

<ClientLayout title="Invoice"
	><div
		class="w-full h-[10%] p-4 border-2 rounded border-solid bg-[#EFFFE3] border-[#d6e9c6]"
	>
		<p>
			Please review the airship options and quote for accuracy and contact
			us with any changes. If the itinerary and quote are correct, please
			click the 'Confirm' button to start the booking process. Once we
			have confirmed availability for the airship, we will send you a link
			to complete the booking process.
		</p>
	</div>
	<div
		class="w-full h-[30%] p-4 border-2 rounded border-solid bg-white border-gray-300"
	>
		<p>
			Please review the airship options and quote for accuracy and contact
			us with any changes. If the itinerary and quote are correct, please
			click the 'Confirm' button to start the booking process. Once we
			have confirmed availability for the airship, we will send you a link
			to complete the booking process.
		</p>
	</div>
	<div class="w-full flex justify-around h-[50%] py-4 gap-8">
		<div
			class="w-[50%] h-full border-2 rounded border-solid bg-white border-gray-300"
		>
			asdasd
		</div>
		<div
			class="w-[50%] h-full border-2 rounded border-solid bg-white border-gray-300"
		>
			asdasd
		</div>
	</div></ClientLayout
>
