---
import { RouteGuard } from "../components/routeguard"
import SchedulerFrame from "../components/scheduler/SchedulerFrame"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Scheduler">
	<RouteGuard client:only="react">
		<div class="flex">
			<SchedulerFrame client:only />
		</div>
	</RouteGuard>
</Layout>
