---
import { getFlightById } from "../../lib/actions/flights/actions"
import { RouteGuard } from "../components/routeguard"
import SchedulerFrame from "../components/scheduler/SchedulerFrame"
import Layout from "../layouts/Layout.astro"
---

<Layout title="edit-flight">
	<RouteGuard client:only="react">
		<div class="flex">
			<SchedulerFrame client:load />
		</div>
	</RouteGuard>
</Layout>
