---
import SignatureCanva from "../components/ContractSign/SignatureCanva"
import ClientLayout from "../layouts/ClientLayout.astro"

//const url = new URL(Astro.request.url)
const url = new URL(Astro.request.url)
const encodedData = url.searchParams.get("data")

if (!encodedData) return Astro.redirect("/404")
const decodedURIComponent = decodeURIComponent(encodedData)

const decodedString = atob(decodedURIComponent).replace(/\/$/, "")

const [master_passenger, date, price] = decodedString.split("/")

//constante que deberiamos remplazar con DB
const contractData = {
	name: master_passenger,
	date,
	price,
}
---

<ClientLayout title="Quote"
	><div
		class="w-full h-[25%] sm:h-[10%] flex items-center justify-center mb-4 p-4 border-2 rounded border-solid bg-[#EFFFE3] border-[#d6e9c6]"
	>
		<p class="w-full h-fit overflow-hidden text-wrap break-words mb-0">
			Read the following information carefully, Sign it and then click "I
			agree" so that we can continue
		</p>
	</div>

	<SignatureCanva contractData={contractData} client:load />
	<div
		class="w-full flex flex-col sm:flex-row justify-around h-[60%] py-4 gap-8"
	>
	</div></ClientLayout
>
