---
import { LogOutButton } from "../buttons/LogOutButton"
---

<li>
	<a
		href="/History"
		class="flex items-center p-2 text-gray-900 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group"
	>
		<svg
			class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 text-gray-400 group-hover:text-white"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="currentColor"
			viewBox="0 0 24 24"
		>
			<path d="M0 0h24v24H0V0z" fill="none"></path>
			<path
				d="M13 3a9 9 0 00-9 9H1l3.89 3.89.07.14L9 12H5a7 7 0 017-7 7 7 0 017 7 7 7 0 01-7 7 6.99 6.99 0 01-6.93-6H3a9 9 0 109-9zm-1 5v4l3.62 2.16.75-1.23-2.87-1.68V8H12z"
			></path>
		</svg>
		<span class="flex-1 ms-3 whitespace-nowrap text-white">History</span>
	</a>
</li>
<li>
    <a
        href="/Calendar"
        class="flex items-center p-2 text-gray-900 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group"
    >
        <svg
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 text-gray-400 group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
        >
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path
                d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"
            ></path>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap text-white">Calendar</span>
    </a>
</li>
<li>
	<LogOutButton client:load />
</li>
